<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" 
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false">
    <testsuites>
        <testsuite name="Duality Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/Duality/Service/Cache</exclude>
            <exclude>./tests/Duality/Service/Controller</exclude>
            <exclude>./tests/Duality/Service/Database</exclude>
            <exclude>./tests/Duality/Service/Session</exclude>
            <exclude>./tests/Duality/Service/LocalizationTest.php</exclude>
            <exclude>./tests/Duality/Service/SSHTest.php</exclude>
            <exclude>./tests/Duality/Service/SecurityTest.php</exclude>
            <exclude>./tests/Duality/Service/ServerTest.php</exclude>
            <exclude>./tests/Duality/Service/SessionTest.php</exclude>
            <exclude>./tests/Duality/Service/ValidatorTest.php</exclude>
            <exclude>./tests/Duality/Service/Database/MySqlTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests/data</directory>
            <directory suffix=".php">./tests/coverage</directory>
        </blacklist>
    </filter>
    <php>
        <const name="DATA_PATH" value="./tests/data" />
        <const name="DB_SCHEMA" value="./tests/data/schema.php" />
        <const name="DB_DSN"    value="sqlite:tests/data/test.sqlite" />
        <const name="DB_USER"   value="root" />
        <const name="DB_PASS"   value="pass" />
    </php>
</phpunit>